#intro1{
  background: url("../gfx/elenabw.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
  min-height: 800px;
  color:#efefef;
}

#intro1 h1.ultrabig{
  font-family: Playball;
  font-size: 80px;
}

.bg-color-darken{
  background-color: #000000;
  padding: 15px 15px 15px 15px;
  border-radius: 10px;
}

.opacity {   
    opacity: 0.5;       /* modern browser */  
    -moz-opacity: 0.5;  /* older Mozilla browser */  
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE8 in Standard Compliant Mode */  
    filter:alpha(opacity=50); /* IE5.x -7.0 */  
}

#intro1 h2{
  font-family: Lobster;
  font-size: 40px;
}

#intro2{
  background: url("../gfx/broKettleBW.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
  min-height: 800px;
  color:#efefef;
}